
@font-face {
  font-family: 'UTMHelvetIns';
  src: url('UTMHelvetIns.eot?#iefix') format('embedded-opentype'),  url('UTMHelvetIns.woff') format('woff'), url('UTMHelvetIns.ttf')  format('truetype'), url('UTMHelvetIns.svg#UTMHelvetIns') format('svg');
  font-weight: normal;
  font-style: normal;
}
