/*STYLE*/
@import '../public/css/import/fonts.css';
@import '../public/css/import/global.css';
@import '../public/css/import/list_post.css';
@import '../public/css/import/list_product.css';
@import '../public/css/import/add_cat.css';
@import '../public/css/import/info_account.css';
@import '../public/css/import/change_pass.css';
@import '../public/css/import/sidebar.css';
@import '../public/css/import/menu.css';
@import '../public/css/import/detail_order.css';


/*css login.php*/
.login {
    background: #2121a8;
    padding: 100px 0;
    height: 100vh;
}

.login_box {
    width: 560px;
    margin: 0 auto;
    padding:10px 30px;
    background: #c9c2c2;
    text-align: center;
}
.login_box form input {display: inline-block;margin: 10px 0;width: 100%;padding: 10px;}
.login_box form input::placeholder {
    text-align: center;
}
.login_box form input[type="submit"] {
    display: inline-block;
    width: auto;
    cursor: pointer;
    background: #f00;
    border: none;
    border-radius: 6px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 13px;
    transition: all ease 1s;
}
.login_box form input[type="submit"]:hover{
	background: #751616;
}
.login_box form label {
    display: block;
    text-transform: uppercase;
}
a.lot_pass{
	text-decoration: underline;
}
p.error {
    color: #f00;
}
.user_login {
    float: right;
}

/*form admin/adduser*/
form#add_user input, form#add_user select {
    display: block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 35%;
    margin-bottom: 15px;
}